<html>
    {{>head}}
    <body>
      <div class="entry">
        <h1>Who we are...</h1>
        <div class="body">
          <br/>
          <p>VeteranReady is a consulting company based in Las Vegas. Our mission is to support Nevada businesses and non-profit agencies by providing consulting, training, and event planning services that focus on building up the community. Our clients understand that veterans play an integral role in strengthening the community and that it's not just the right thing to do, it's the smart thing to do.</p>
          <br/>
        </div>
        <h1>What is a VETERAN?</h1>
        <div class="body">
          <br/>
          <p>It may seem like a fairly straight-forward question but the definition really depends on who is asking and for what reason. Even the Department of Veterans Affairs, more commonly known as the VA, defines a veteran differently depending on the services or program being requested. For simplicity, we will define a veteran as anyone that has ever received a DD 214 for service in the U.S. Armed Forces.</p>
          <br/>
        </div>
        <h1>What does VeteranReady mean?</h1>
        <div class="body">
          <br/>
          <p>There are three terms that people have been using in Nevada to describe business efforts to support veterans: Veteran Friendly, Veteran Ready and Veteran Strong.</p>
          <br/>
          <h2>Veteran Friendly</h2>
          <p>is defined as any entity that shows support for veterans. This can be through a military discount for those with an active military ID, free meals for veterans on Veterans Day, participating at veteran hiring events, etc</p>
          <br/>
          <h2>Veteran Ready</h2>
          <p>is defined as a business that has taken additional steps to support veteran employees such as implementing an internal veteran program, providing diversity on veterans in the workplace, addresses ways to improve attrition rates, etc.</p>
          <br/>
          <h2>Veteran Strong</h2>
          <p>is defined as a business that provides all mangement and staff, especially human resource staff and front-line leaders, formal training to improve the life satisfaction of veteras in the workplace at least once per year. Training also includes an understanding of USERRA, ADA, FMLA, and other federal/state laws supporting reserve component service members, activated military and veterans. Veteran strong companies are the pillars in building a veteran strong Nevada.</p>
          <br/>
        </div>
      </div>
    </body>

</html>