/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #4F7942;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  /*width: 80%;*/
}

a {
  color: #00B7FF;
}


#header {
  border-top: 25px solid rgba(0, 46, 93, 1);
  border-bottom: 25px solid rgba(0, 46, 93, 1);
  border-left: 1px solid rgba(0, 46, 93, 1);
  border-right: 1px solid rgba(0, 46, 93, 1);
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px 5px 10px 5px;
  color: #4F7942;
  align-items: center;
  height: 94px;


  font-family: helvetica,sans-serif;

}

#header div {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  font-size: smaller;
}

#header button {
  width: 150px;
  height: 38px;
  margin-left: 5px;
  font-weight: bold;
  color: white;
  background:rgba(43, 108, 163, 1) url("/images/button.png") center center repeat-x;border-radius:0;
  transition: background-color 0.4s ease 0s;
}

#logo-text {
  margin-right: 10px;
}

#header h1 {
  font-size: 35px;
}

/* Everything below is intended for index.hbs. Id of #index? */

.container {
  margin: 20px;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 6px;
}


.jumbotron h1 {
  font-size: 21px;
  color: #4F7942;
}

.jumbotron h2 {
  font-size: 18px;
  color: #4F7942;
}